<a href="https://colab.research.google.com/github/maucgomes/Logica-programcao/blob/main/Meu_primeiro_codigo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Conhecendo melhor o Python")

x = 8
print(x)

Conhecendo melhor o Python
8

In [ ]:
y =10
soma = x+y
print(soma)

18

In [ ]:
print("O valor de x é:",x)

O valor de x é: 8

In [ ]:
print("O valor de x é:",x, "Multiplicado por 2 é:", x*2)

O valor de x é: 8 Multiplicado por 2 é: 16

In [ ]:
nome = 'Mauricio'
print('Meu nome é:',nome)

Meu nome é: Mauricio

In [ ]:
from os import pidfd_open
x = 10
type(x)
print('x', type(x))


nome = 'Mauricio'
print('nome', type(nome))

x <class 'int'>
nome <class 'str'>

In [ ]:
num = '100'
print('num', type(num))
num_int = int(num)
print('num_int', type(num_int))

num <class 'str'>
num_int <class 'int'>

## Input
*Armazenar a informação
* O dado armazenado sempre será um texto

In [ ]:
nome = input('Qual o seu nome?')
print('Olá', nome)

Qual o seu nome?Mauricio
Olá Mauricio

In [ ]:
valor = input('Digite o valor de um produto')
print(valor)

Digite o valor de um produto100
100

In [ ]:
desconto = int(valor) - 5
desconto

95

#Condicional

In [ ]:
if 5 >10:
  print('5 é menor que 10')

In [ ]:
num1 = 1
num2 = 5
if num1 > num2:
  print('num1 é maior que num2')
else:
  print('num2 não é maior que num1')

num2 não é maior que num1

In [ ]:
num1 = 10
num2 = 10
if num1 > num2:
  print('num1 é maior que num2')
elif num2<num1:
  print('num2 não é maior que num1')
else:
  print('num1 é igual a num2')

num1 é igual a num2

In [ ]:
num1 = 10
num2 = 50
num3 = 200
if num1 > num2 and num1 > num3:
  print('num1 é o maior numero')
elif num2 > num1 and num2 > num3:
  print('num2 é o maior numero')
else:
  print('num3 é o maior numero')

num3 é o maior numero

# Lista

In [ ]:
lista = [1,2,3,4,5]
print(lista)
type(lista)

[1, 2, 3, 4, 5]

list

In [ ]:
lista.append(6)
print(lista)

[1, 2, 3, 4, 5, 6]

In [ ]:
lista[2]

3

#Tuplas

In [ ]:
tupla = (1,"Mauricio",3,4,5)
print(tupla)
type(tupla)

(1, 'Mauricio', 3, 4, 5)

tuple

#Dicionario

In [ ]:
dicionario = {'nome':'Mauricio','cidade':'Bauru','idade':38}
print(dicionario["idade"])

38

In [ ]:
dicionario['profissao'] = 'TI'

In [ ]:
dicionario

{'nome': 'Mauricio', 'cidade': 'Bauru', 'idade': 38, 'profissao': 'TI'}

## Loops

In [ ]:
for contador in range(10):
  print(contador)

0
1
2
3
4
5
6
7
8
9

In [ ]:
for contador in range(1000):
  print(contador)
  if contador == 2:
    break

0
1
2

In [ ]:
lista = ['Teste1','Teste2']

In [ ]:
for i in lista:
  print(i)

Teste1
Teste2

In [ ]:
for i, val in enumerate(lista):
  print(i,val)

0 Teste1
1 Teste2

In [ ]:
num = 10
for i in range(10):
  num *= 2
  print(num)

20
40
80
160
320
640
1280
2560
5120
10240

#While

In [ ]:
val = 1
while (val < 6):
  val *= 2
  print(val)

2
4
8

In [ ]:
nota1 = input('Digite a primeira nota')
nota2 = input("Digite a segunda nota")

media = (float(nota1) + float(nota2))/2
print(media)

Digite a primeira nota7.8
Digite a segunda nota6.2
7.0

In [ ]:
nome = input("Qual seu nome?")
print("Olá,",nome,"!")

Qual seu nome?teste
Olá, teste !

In [ ]:
feedbacks = ["òtimo","Excelente","Rápido"]
print(type(feedbacks))

cliente = {
    "nome":"Mauricio",
    "idade":38,
    "feedbacks":feedbacks
}
print(type(cliente))



print("feedbacks dos clientes")

for feedback in feedbacks:
  print("-"+feedback)

print("\nInformações do cliente:")
print("Nome:", cliente["nome"])
print("Idade:", cliente["idade"])
print("Feedback:", cliente["feedbacks"])

<class 'list'>
<class 'dict'>
feedbacks dos clientes
-òtimo
-Excelente
-Rápido

Informações do cliente:
Nome: Mauricio
Idade: 38
Feedback: ['òtimo', 'Excelente', 'Rápido']

In [ ]:
notas = [85,92,78,90,88]

soma = 0
for nota in notas:
  soma += nota

media = soma / len(notas)
print("A média das notas é:", media)

alunos_aprovados = []
alunos_reprovados = []

for nota in notas:
  if nota >= media:
    alunos_aprovados.append(nota)
  else:
    alunos_reprovados.append(nota)


print("Nota dos alunos:", notas)
print("Media dos alunos:", media)
print("Alunos aprovados:", alunos_aprovados)
print("Alunos reprovados:", alunos_reprovados)

A média das notas é: 86.6
Nota dos alunos: [85, 92, 78, 90, 88]
Media dos alunos: 86.6
Alunos aprovados: [92, 90, 88]
Alunos reprovados: [85, 78]